<!DOCTYPE css>
<css>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.mycolor{
  background-color:#5e5cad!important;
}
.myFcolor{
  color:#ec6ccc!important;
}
.myFucolor{
  color:#b61304!important;
}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="image_copied.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Mungunsolongo Batbayar</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal myFcolor"></i>Student at NUM</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal myFcolor"></i>Ulaanbaatar, Mongolia</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal myFcolor"></i>mungunsolongo.batbayar@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal myFcolor"></i>+976 94211916</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal myFcolor"></i>Skills</b></p>
          <p>Fusion 360 Autodesk</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal mycolor" style="width:80%">80%</div>
          </div>
          <p>Arduino</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal mycolor" style="width:100%">100%</div>
          </div>
          <p>Smart Basic</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal mycolor" style="width:50%">50%</div>
          </div>
          <p>Visual studio code</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal mycolor" style="width:50%">50%</div>
          </div>
          <p>W3.css template</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal mycolor" style="width:40%">40%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal myFcolor"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal mycolor" style="height:24px;width:80%"></div>
          </div>
          <p>Chinese</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal mycolor" style="height:24px;width:15%"></div>
          </div>
          <p>Japanese</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal mycolor" style="height:24px;width:20%"></div>
          </div>
          <p>Mongolian</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal mycolor" style="height:24px;width:99%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal myFcolor"></i>WORK EXPERIENCE</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Tutoring (teaching mathematics)</b></h5>
          <h6 class="w3-text-teal myFucolor"><i class="fa fa-calendar fa-fw w3-margin-right myFcolor"></i>Sep 2020 - June 2021 </span></h6>
          <p>I teach math to my junior class four times a week</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Director of SDG in the student council </b></h5>
          <h6 class="w3-text-teal myFucolor"><i class="fa fa-calendar fa-fw w3-margin-right myFcolor"></i> Sep 2020 - March 2022</h6>
          <p>Responsible for the activities of the school's clubs within the SDG.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Cub sat competition</b></h5>
          <h6 class="w3-text-teal myFucolor"><i class="fa fa-calendar fa-fw w3-margin-right myFcolor"></i>Nov 2021 - Dec 2021</h6>
          <p>It was the first international cube sat competition organized by China.</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Customer service worker at EMART</b></h5>
          <h6 class="w3-text-teal myFucolor"><i class="fa fa-calendar fa-fw w3-margin-right myFcolor"></i>Jun 2023 - Sep 2023</h6>
          <p>This was my official job. Although it was difficult to communicate with insistent customers, it was fun otherwise.</p><br>
        </div>
      </div>
      
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal myFcolor"></i>VOLUNTEER WORK</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Planting trees</b></h5>
          <h6 class="w3-text-teal myFucolor"><i class="fa fa-calendar fa-fw w3-margin-right myFcolor"></i>Summer of 2015 and Oct 2021</h6>
          <p>We planted pine trees to support the industrial environment in Nalaikh and worked on watering, care, and protection.</p>
          <p>Many pine trees died as we could not water them.</p><br>
        </div>
      </div>
      
    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>

<!-- Footer -->
<footer class="w3-container w3-teal w3-center w3-margin-top mycolor">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>